<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false"
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<!-- <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p 
				%c{1}:%L - %m%n" /> <param name="ConversionPattern" value="[%5p] [%t %d{hh:mm:ss}] 
				(%C{1}.%M():%L) %m%n" /> <param name="ConversionPattern" value="[%d{hh:mm:ss}] 
				(%C{1}.%M():%L) %m%n" /> -->
<!-- 			<param name="ConversionPattern" value="[%d{yyyy-MM-dd hh:mm:ss}] %-5p %c{1}:%L - %m%n" /> -->
			<param name="ConversionPattern" value="[%d{hh:mm:ss}] %-5p %c{1}:%L [%t] %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="10" />
		<param name="file" value="netty.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd hh:mm:ss}] %m%n" />
		</layout>
	</appender>

	<logger name="rocklike" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
<!-- 	<logger name="jdbc.sqlonly" additivity="false"> -->
<!-- 		<level value="INFO" /> -->
<!-- 		<appender-ref ref="console" /> -->
<!-- 	</logger> -->
<!-- 	<logger name="jdbc.resultset" additivity="false"> -->
<!-- 		<level value="INFO" /> -->
<!-- 		<appender-ref ref="console" /> -->
<!-- 	</logger> -->
<!-- 	<logger name="jdbc.audit" additivity="false"> -->
<!-- 		<level value="INFO" /> -->
<!-- 		<appender-ref ref="console" /> -->
<!-- 	</logger> -->


	<!-- <logger name="rocklike" additivity="false"> -->
	<!-- <level value="DEBUG" /> -->
	<!-- <appender-ref ref="console" /> -->
	<!-- </logger> -->

	<!-- <logger name="rocklike.netty" additivity="false"> -->
	<!-- <level value="DEBUG" /> -->
	<!-- <appender-ref ref="console" /> -->
	<!-- </logger> -->


	<!-- <logger name="io.netty.example" additivity="false"> -->
	<!-- <level value="DEBUG" /> -->
	<!-- <appender-ref ref="console" /> -->
	<!-- </logger> -->


	<!-- <logger name="io.netty.handler.logging" additivity="false"> -->
	<!-- <level value="INFO" /> -->
	<!-- <appender-ref ref="console" /> -->
	<!-- </logger> -->


	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>